
#imageDialog{

display:none;
	height: 200px;
	width: 200px;
	position:absolute;
	left:100px;
	top:100px;
	z-index:10;
	border: solid #000;
border-width: 1px 1px 1px 1px;
background-color: white;
}

#nameEditDialog{
	display:none;
	height: 50px;
	width: 200px;
	position:absolute;
	left:200px;
	top:200px;
	z-index:10;
	border: solid #000;
border-width: 1px 1px 1px 1px;
background-color: white;
}

#nav{
	width:650px;
	position:absolute;
	left:15px;
	top:15px;
	border: solid #C0D5FC;
border-width: 1px 1px 1px 1px;
background-color: #C0D5FC;
font-family: 'icons';
font-size: 2em;
color: white;
}

#nav ul{
	position: relative;
	top:-15px;
	left:-20px;
}
#nav li{
	float: left;
	list-style-type: none;
	padding-left: .3em;
}

#nav li:hover{
	color: red;
}