
#imageDialog{

display:none;
	height: 200px;
	width: 200px;
	position:absolute;
	left:100px;
	top:100px;
	z-index:10;
	border: solid #000;
border-width: 1px 1px 1px 1px;
background-color: white;
}

#nameEditDialog{
	display:none;
	height: 50px;
	width: 200px;
	position:absolute;
	left:200px;
	top:200px;
	z-index:10;
	border: solid #000;
border-width: 1px 1px 1px 1px;
background-color: white;
}

#nav{
	width:400px;
	position:absolute;
	left:25px;
	top:25px;
	border: solid #000;
border-width: 1px 1px 1px 1px;
background-color: white;
}

#nav li{
	float: left;
	list-style-type: none;
	padding-left: .5em;
}

#nav li:hover{
	color: red;
}